<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo de vista Mustache</title>
    </head>
    <body>
    <form method="post" action="/users">
    <label>Nombre:</label>
    <input type="text" name="firstName"><br>
    <label>Apellido:</label>
    <input type="text" name="password"><br>
    <button type="submit">Guardar</button>
</form>
    </body>
</html>